In [1]:
a=int(input("enter the marks"))
if(a>90):
  print("A")
if(80<a<=90):
  print("B")
if(70<a<=80):
  print("C")
if(60<=a<=80):
  print("D")
if(60>a):
  print("E")

enter the marks49
E

In [2]:
price=int(input("enter the price"))
if(price>100000):
  tax=0.15
if (50000<price<=100000):
  tax=0.10
if (price>=50000):
  tax=0.05
road_tax=price*tax
print(road_tax)

enter the price450000
22500.0

In [3]:
a=input("enter the city")
if(a=="delhi"):
  print("Red Fort")
if(a=="Agra"):
  print("Taj Mahal")
if(a=="Jaipur"):
  print("Jal Mahal")

enter the citydelhi
Red Fort

In [8]:
n=int(input("enter the number"))
count=0;
while(n>10):
  n=n/3
  count=count+1
print(count)

enter the number99
3

A "While" Loop is used to repeat a specific block of code an unknown number of times, until a condition is met.

In [15]:
i=1
while i<=5:
  j=1
  while j<=i:
    print("*",end=" ")
    j+=1
  print()
  i+=1

*
* *
* * *
* * * *
* * * * *

In [16]:
i = 1
while i <= 5 :
    j = 5
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

* * * * *
* * * *
* * *
* *
*

In [17]:
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

  1
  2   3
  4   5   6

In [19]:
i=10;
while i>=1:
  print(i)
  i-=1

10
9
8
7
6
5
4
3
2
1