Def keyword is used to create function.

In [7]:
def oddnumbers(n):
  l=[]
  for i in range(n):
    if i%2!=0:
      l.append(i)
  return l

In [8]:
x=oddnumbers(25)
x

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

*args allow us to pass the variable number of non keyword arguments to function.
In the function, we should use an asterisk * before the parameter name to pass variable length arguments.The arguments are passed as a tuple and these passed arguments make tuple inside the function with same name as the parameter



**kwargs, allows us to pass the variable length of keyword arguments to the function.
In the function, we use the double asterisk ** before the parameter name to denote this type of argument. The arguments are passed as a dictionary and these arguments make a dictionary inside function with name same as the parameter

In [10]:
def adder(*num):
    sum = 0
    
    for n in num:
        sum = sum + n

    print("Sum:",sum)

adder(3,5)

Sum: 8

In [9]:
def intro(**data):
    print("\nData type of argument:",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))
intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

iterator in Python is an object that is used to iterate over iterable objects like lists, tuples, dicts, and sets. The iterator object is initialized using the iter() method. It uses the next() method for iteration.

In [12]:
list= [2, 4, 6, 8, 10, 12, 14,16, 18, 20]
l=iter(list)
print(next(l))
print(next(l))
print(next(l))
print(next(l))
print(next(l))

2
4
6
8
10

generators allow you to handle large datasets with minimal consumption of memory and processing cycles.
The yield keyword in Python controls the flow of a generator function

In [13]:
def fancy_generator():
     my_list = [1, 2, 3]
     for i in my_list:
             yield i * 2

mygen = fancy_generator()
print(mygen)
next(mygen)

<generator object fancy_generator at 0x7f910acef4a0>

2

In [17]:
def primenum(num, val):
    primes = []
    for i in range(2, num):
        for j in range(2, int(i / 2) + 1):
            if i % j == 0:
                break
        else:
            primes.append(i)
        
    for i in range(1 - val, len(primes), 2):
        yield primes[i]

In [18]:
n = int(input())
a = 0
b = 1
sum = 0
count = 1
print("Fibonacci series is: ", end = " ")
while(count <= n):
  count += 1
  print(a, end=" ")
  a = b
  b = sum
  sum = a + b

10
Fibonacci series is:  0 1 0 1 1 2 3 5 8 13

In [20]:
List = [character for character in "pwskills"]
print(List)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [21]:
num=int(input("Enter a number:"))
temp=num
rev=0
while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(temp==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

Enter a number:131
The number is palindrome!

In [29]:
odd_list = [element for element in range(1, 101) if element % 2 == 1 ]
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]