In [ ]:
runs=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
runs.sort(key = lambda x: x[1])
print(runs)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list of integers:")
print(nums)
print("\nSquare every number of the said list:")
square_nums = list(map(lambda x: x ** 2, nums))
print(square_nums)

Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Square every number of the said list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
s = [1,2,3,4,5,6,7,8,9,10]
 
# using list comprehension
listToStr = ','.join(map(str, s))
 
print(listToStr)
res = eval(listToStr)
print((res))

1,2,3,4,5,6,7,8,9,10
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [24]:
import functools
def createList(r1, r2):
    return [item for item in range(r1, r2+1)]
lis=createList(1,26)
print(functools.reduce(lambda a, b: a*b, lis))

403291461126605635584000000

In [27]:
num_list=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
result = list(filter(lambda x: (x % 2 == 0)and(x % 3==0), num_list))
print(result)

[6, 60, 90, 120]

In [28]:
texts = ['python', 'php', 'aba', 'radar', 'level']
print("Orginal list of strings:")
print(texts) 
result = list(filter(lambda x: (x == "".join(reversed(x))), texts)) 
print("\nList of palindromes:")
print(result)

Orginal list of strings:
['python', 'php', 'aba', 'radar', 'level']

List of palindromes:
['php', 'aba', 'radar', 'level']