In [1]:
import pandas as pd

In [3]:
df={"data":[4,8,15,16,23,42]}

In [4]:
df['data']

[4, 8, 15, 16, 23, 42]

In [5]:
x = pd.Series(['a','v','b','d','s','w','w','r','f','g'])
print(x)

0    a
1    v
2    b
3    d
4    s
5    w
6    w
7    r
8    f
9    g
dtype: object

In [6]:
df={"Name":["Alice","Bob","Claire"],
    "Age":[25,30,27],
    "Gender":["Female","Male","Female"]}

In [9]:
df

{'Name': ['Alice', 'Bob', 'Claire'],
 'Age': [25, 30, 27],
 'Gender': ['Female', 'Male', 'Female']}

Pandas Series	
One-dimensional	
Homogenous – Series elements must be of the same data type.	
Size-immutable – Once created, the size of a Series object cannot be changed.

Two-dimensional
Heterogenous – DataFrame elements can have different data types.
Size-mutable – Elements can be dropped or added in an existing DataFrame.

pd.read_csv, pd.read_excel ,df.columns ,df.select_dtypes(),df.insert

DataFrames are both value-mutable and size-mutable Series, by contrast, is only value-mutable, not size-mutable. The length of a Series cannot be changed although the values can be changed.

In [10]:
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])
df=pd.concat([courses,fees],axis=1)
df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000