**For loop is used when the number of iterations is already known. While loop is used when the number of iterations is already Unknown**

In [9]:
sum=0;
for i in range(11):
  sum=sum+i
print(sum)

55

In [6]:
product=1;
for i in range(1,11,1):
  product=product*i
print(product)

3628800

In [8]:
sum=0
i=1;
while i<=10:
  sum=sum+i
  i+=1
print(sum)

55

In [10]:
i=1
product=1
while i<11:
  product=product*i
  i+=1
print(product)

3628800

In [24]:
n = 310
sum=0
for n in range(1,101):
  rate=4.5
  sum=sum+rate
for n in range(101,201):
  rate=6.0
  sum=sum+rate

for n in range(201,301):
  rate=10
  sum=sum+rate
if(n>300):
  x=n-300
  z=x*20
sum=z+sum

print(sum)

2250.0

In [25]:
l=[]
for i in range(1,101):
  x=pow(i,3)
  if x%4==0 or x%5==0:
    l.append(x)
print(l)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [31]:
string = "I want to become a data scientist"
l=[]
for i in string:
  if(i=="a" or i== "e" or i=="i" or i== "o" or i=="u" or i=="A" or i== "E" or i=="I" or i=="O" or i=="U"):
    l.append(i)
print(l)

['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']